/*
 * File: mystyle.css
 * Alexander Baldree
 * Module 7 Programming Assignment
 * Purpose: Defines reusable JavaFX CSS styles for circles.
 */

.plainCircle {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#redCircle {
    -fx-fill: red;
    -fx-stroke: red;
}

#greenCircle {
    -fx-fill: green;
    -fx-stroke: green;
}